@charset "UTF-8";

*{
  text-align: justify;
  justify-items: center;
  justify-content: center;
}

body {
  background-color:#050505;
  color:#FAFAFA;
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 500px;
  margin-top: 100px;
  padding: 20px auto;
  font-family: "Funnel Display", sans-serif;
}

/* LOGO EM MOVIMENTO: */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  gap: 5px auto;
}

.logo {
  width: auto;
  max-width: 150px;
  margin-bottom: 10px;
  height: auto;
}

.logo.right { z-index: 1; animation: logoRight 1.5s ease forwards; }

.logo.middle {
  max-width: 150px; 
  z-index: 3; 
  animation: logoMiddle 3.5s ease forwards;
}

.logo.left { z-index: 2; animation: logoLeft 1.5s ease forwards;}

@keyframes logoRight {
  from { transform: translateY(-15px); opacity: 1; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes logoMiddle {
  from { opacity: 0; }  to { opacity: 1; }
}

@keyframes logoLeft {
  from { transform: translateY(15px); opacity: 1; }
  to { transform: translateY(0); opacity: 1; }
}

/* DESCRIÇÃO: */
.descricao {
  max-width: 100%;
  width: 100% auto;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 15px auto;
  padding: 15px auto;
  font-weight: 100;
}

strong {font-weight: bold;}

.descricao a {text-decoration: none;}

.eoforstudios a {color: #2a8dd3;}
.eoforanimation a {color: #e16b45;}
.eoformusic a {color: #cc8b60;}

.eoforstudios a:hover {color:rgb(0, 149, 255);}
.eoforanimation a:hover {color: #ff4000;}
.eoformusic a:hover {color: #ffa66a;}

/* REDES SOCIAIS: */
.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.social img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social img:hover {transform: scale(1.5);}

/* EMAIL DE CONTATO: */
.email {
  text-align: center;
  margin-top: 30px;
}

.email a {
  color:#e16b45;
  font-weight: bold;
  text-decoration: none;
}

.email a:hover {color:#5aade9;}

/* RODAPÉ: */
footer {
  text-align: center;
  font-size: 12px;
  color: #fafafa;
  margin-top: 100px;
}

footer p {
  margin: 0;
}